version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    depends_on:
      - db
    volumes:
      - pgadmin:/var/lib/pgadmin

  backend:
    build:
      context: ./backend
    container_name: builder-backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://user:password@db:5432/mydb
      SERVER_PORT: 3002
    ports:
      - '3002:3002'

  frontend:
    build:
      context: ./frontend
    container_name: builder-frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend

volumes:
  postgres_data:
  pgadmin:
